/* It is recommended to place all your extra/additional CSS rules here */

#intro  {
  bottom: 23%;
}

#footer {
  font-size: 0.7em;
}

.footer-text-line.creds a {
  color: #FFF;
  font-size: px;
  text-decoration: underline;
}

#footer .social-icons li a {
  opacity: 0.6; 
}

/* 
#main-content #contact .content-wrapper.clearfix {
  
  bottom: 36%;
  
}
 */